/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* GENERAL TYPOGRAPHY */

h1 {
  font-family: museo-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3.75rem;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

/* NAV */

ul {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #021a2e;
  color: #fff;
  width: 100%;
  height: 3.5rem;
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 1rem 0 1rem 1rem;
}

li {
  display: inline;
  padding: 1rem;
}

.nav-item {
  color: #fff;
  text-decoration: none;
}

.nav-item:visited {
  color: #fff;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
}

.home-link {
  color: rgb(19, 113, 177) !important;
}

/* HERO SECTION */

.hero {
  background-color: rgb(18, 70, 112);
  color: white;
  height: 93vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero-info-container {
  height: 23rem;
  width: 23rem;
  align-self: center;
  background-color: #062036;
}

.hero-info-container h4 {
  padding-top: 1rem;
}

.hero-info-container .date {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.divider {
  height: 0.2rem;
  width: 10rem;
  background-color: #fff;
  margin: 1rem 6rem 0 6rem;
}

/* EVENT INFO SECTION */

.event-info {
  background-color: #fafafa;
  padding: 5% 10% 5% 10%;
}

.event-info h4 {
  color: #777777;
  padding-bottom: 2rem;
  font-weight: 400;
}

.event-info h1 {
  color: rgb(94, 94, 94);
  font-weight: 700;
  font-size: 2.5rem;
}

.event-desc {
  padding-top: 4rem;
  text-align: center;
}

.event-desc h4 {
  text-align: center;
}

.info-grid-container {
  padding: 0 5% 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.info-grid-item {
  grid-column: 1;
}

.second {
  grid-column: 2/3;
}

/* SCHEDULE SECTION */

.event-schedule {
  background: linear-gradient(rgba(18, 70, 112, 0.88), rgba(18, 70, 112, 0.88)),
    url("/assets/waves.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 5% 10% 5% 10%;
}

.event-schedule h4 {
  padding-bottom: 2rem;
  font-weight: 400;
}

.event-schedule-item {
  display: flex;
  justify-content: center;
}

.event-schedule-info {
  max-width: 40%;
}

.event-schedule-item h4 {
  font-weight: 300;
}

/* FOOTER */

footer {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #fff;
  color: rgb(94, 94, 94);
  width: 100%;
  bottom: 0;
}

.footer-emphasis {
  font-weight: 400;
}

footer a {
  color: rgb(19, 113, 177);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-content {
  padding: 1rem 2rem 2rem 2rem;
  justify-content: center;
}

.copyright {
  position: absolute;
  left: 0;
  padding-left: 2rem;
}

.contact {
  position: absolute;
  right: 0;
  padding-right: 2rem;
}

@media only screen and (max-width: 700px) {
  /* NAV */

  ul {
    font-size: 0.8rem;
    padding: 1.3rem 0 0.5rem 1rem;
  }

  li {
    padding: 0.8rem;
  }

  /* EVENT INFO  */

  .event-info {
    padding: 10% 5% 10% 5%;
  }

  .info-grid-container {
    grid-template-columns: 1fr;
    padding: 0 0 0 0;
  }

  .second {
    padding-top: 2rem;
    grid-column: 1;
  }

  .event-desc {
    text-align: left;
  }

  .event-desc h4 {
    text-align: left;
  }
}
